ICON  1 Resources\Images\Nice-os2.ico

ICON  2 Resources\Images\Cat.ptr
ICON  3 Resources\Images\Rake.ptr
ICON  4 Resources\Images\Hand.ptr

ICON  5 Resources\Images\Arrow.ptr

ICON  6 Resources\Images\Default-1.ico
ICON  7 Resources\Images\Default-2.ico
ICON  8 Resources\Images\Default-3.ico
ICON  9 Resources\Images\Default-4.ico
ICON 10 Resources\Images\Default-5.ico

